<section class="posts topspace">
  <div class="row">
    <div class="col-lg-8 offset-lg-2 col-md-10 offset-md-1">
        <% page.posts.each(function (post) { %>
      <div class="post-preview">
        <a href="<%- url_for(post.path) %>">
          <h2 class="post-title">
            <%= post.title %>
          </h>
          <h3 class="post-subtitle">
            <%- post.excerpt %>
          </h3>
        </a>
          <p class="post-meta">Posted by <a href="#"><%- post.author %></a> on
            <span class="date" style="font-size: 16px;"><%- date(post.date, "MMMM Do YYYY") %></span</p>
      </div>
      <hr>
        <% }) %>
    <div/>
  </div>
</section>
<%- partial('_partial/paginator') %>
